@mixin ttl {
    width:250px;
    height:30px;
}

@mixin itemImg($Iw:250px,$Ih:250px) {
    width:$Iw;
    height:$Ih
}

@mixin container {
    width:1200px;
    margin: 40px auto;
}

@mixin tagItem {
    width:auto;
    display: inline-block;
    padding: 2px 8px;
    background-color: #A3CCEF;
    border-radius: 25px;
    color:#fff;
    cursor:default;
    font-size: 1rem;
}

@mixin thumbnail {
    width:250px;
    height:250px;
}

@mixin dataBtn {
    width:auto;
    display: inline-block;
    border:solid 1px #A3CCEF;
    border-radius: 25px;
    color:#A3CCEF;
    padding: 8px 36px;
    margin-right: 12px;
    &:last-child{
        margin-right: 0;
    }
}