@use "asset" as a;
@use "mixin" as mix;




.firstView{
    height:740px;
    // background-color: #7899B8;
    background-color: #A3CCEF;
    background-size: cover;
    background-position:  center;
    transform: translateY(100px);
    margin-bottom: 200px;
    .scroll{
        transform: translateY(600px);
        display: flex;
        flex-direction: column;
        align-items: center;
        &::after{
            content:"";
            display: block;
            width:1.5px;
            height: 70px;
            background-color: #333;
            margin-top: 12px;
        }
    }
}

.container{
    h2{
        @include mix.ttl;
    }
}

.myImg{
    figure{
        width:250px;
        height:250px;
        &:last-child{
            width:150px;
            height:150px;
        }
        img{
            border-radius: 50%;
        }
    }
}


// ---
#works{
    h2{
        width:100%;
        height:100%;
        font-size: 8rem;
    }
}
.works{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &::after{
        content:"";
        display: block;
        width:250px;
    }
// --
    li{
        margin: 5px;
        margin-bottom: 40px;
    }
}
.tag{
    &__item{
        @include mix.tagItem;
    }
}
.thumbnail{
    @include mix.thumbnail;
    border:solid 1px skyblue;
}

.data{
    &__btn{
        @include mix.dataBtn;
    }
}
