doctype html
html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/index.css")
        title ポートフォリオ
    body 
        header 
            h1.logo 
                a(href="index.html")  KUSANO HATSUMI 

            nav 
                ul 
                    li 
                        a(href="#about")  ABOUT
                    li 
                        a(href="#works")  WORKS
                    li 
                        a(href="#contact")  CONTACT
        main 

            .firstView 
                //- .scroll scroll
            //- #about.container 
            //-     h2 ABOUT 
            //-     .contents
            //-         .text
            //-             .name
            //-                 h3 草野初実
            //-                 p フロントエンドエンジニア志望
            //-             .school 
            //-                 p ECCコンピュータ専門学校　マルチメディア研究学科
            //-                 p Webデザインコース(24年卒予定)
            //-             .hobby
            //-                 p 趣味は音楽を聞くことです。特に「くじら」というアーティストが好きでよく聞いています。
            //-             .github 
            //-                 a(href="#") Git Hub
            //-             .myImg 
            //-                 figure 
            //-                     //- img(src="img/cub.jpg", alt="カブ")
            //-                 figure 
            //-                     //- img(src="img/cub.jpg", alt="カブ")
            
            #works
                h2 WORKS
                //- section.contents
                //-     .text
                //-         .tag 
                //-             p#first.tag__item 2年前期
                //-             p#solo.tag__item 個人制作
                //-         .work
                //-             h4.work__ttl yoridokoro
                //-             .work__desc
                //-                 p お弁当宅配サービス
                //-                 p 
                //-                     |メニューを注文すると履歴が残っていき、サービス内でカロリーを計算。
                //-                     br
                //-                     |自動でおすすめのメニューを提示してくれます。
                //-             .data 
                //-                 a.data__btn(href="#") web
                //-                 a.data__btn(href="#") code
                //-                 a.data__btn(href="#") more
                //-     figure.thumbnail 
                //-             img(src="img/", alt="yoridokoro")
                ul.works 
                    li.works__item 
                        figure.thumbnail 
                            img(src="img/kawa.jpg", alt="仮イラスト")
                        .tag 
                            p.tag__item 1年前期
                            p.tag__item  個人制作
                        p.item__name rest
                        
                    li.works__item 
                        figure.thumbnail 
                            img(src="img/kawa.jpg", alt="仮イラスト")
                        .tag 
                            p.tag__item 1年後期
                            p.tag__item  チーム制作
                        p.item__name Quiniq
                    li.works__item 
                        figure.thumbnail 
                            img(src="img/kawa.jpg", alt="仮イラスト")
                        .tag 
                            p.tag__item 2年前期
                            p.tag__item  個人制作
                        p.item__name tomoni
                        
                    li.works__item 
                        figure.thumbnail 
                            img(src="img/kawa.jpg", alt="仮イラスト")
                        .tag 
                            p.tag__item 2年前期
                            p.tag__item  チーム制作
                        p.item__name raict
                    li.works__item 
                        figure.thumbnail 
                            img(src="img/kawa.jpg", alt="仮イラスト")
                        .tag 
                            p.tag__item 2年後期
                            p.tag__item  個人制作
                        p.item__name yoridokoro
        footer 
